
.grid-1{
    display: grid;
    padding: 10px;
    margin-top: -20px;
    background-color: #e86100;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
}
.grid-2{
    display: grid;


    /* display: flex;
    flex-direction: column;
    align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
    background-color: blue;
}

.grid-1 img{
    width: 200px;
    height:200px;
    border-radius: 50%;
    border: 5px solid #014421; 
    margin-left: 30%;
    
}
.name h1{
    display: grid;
    grid-column: 2/4;
    font-family: cursive;
    text-transform: uppercase;
    margin-top: 10%;
    padding-left: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.name p{
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.item-leftt{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 30px;
     grid-gap: 20px;
    
}
.item-leftt p{
    font-family: cursive;
    border-bottom: 1px solid black;
}

.item-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(182, 27, 167);
    border-radius: 30px;
    margin-left: 10px;
     grid-gap: 20px;
     
}
.item-right p{
    font-family: cursive;
    border-bottom: 1px solid black;
}

